<header>
    <nav class="bg-danger">
        <div class="container d-flex jcsb d-column-md ">
            <a href="index.html" class="container-md w-80-max p-md-12 d-flex jcsb aic "><img class="w-100-max" src="../assets/images/logo-white.png" alt="logo-white"></a>
   
        
            <ul class="g-64 g-md-0 d-wrap-md d-flex jcsb aic">        <li class="py-25 py-md-12 fs-3  fs-md-2 border-md-1 w-50-md-min text-align-center-md"><a href="#">系列鏡框</a></li>
                <li class="py-25 py-md-12 fs-3  fs-md-2 border-md-1 w-50-md-min text-align-center-md"><a href="#">門市據點</a></li>
                <li class="py-25 py-md-12 fs-3  fs-md-2 border-md-1 w-50-md-min text-align-center-md"><a href="#">部落格</a></li>
                <li class="py-25 py-md-12 fs-3  fs-md-2 border-md-1 w-50-md-min text-align-center-md"><a href="about.html">常見問題</a></li>
            </ul>
        </div>
    </nav>
</header>