<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
</head>

<body>
    <%- include('./layout/header'); -%>


        <main>

            <div class="banner text-align-end">
                <div class="container container-md">
                    <p class="pt-296 pt-md-144 fs-5 fs-md-2 text-primary">Promise-Desert 2020 早春系列</p>
                    <h1 class="fs-7  text-primary fs-md-4 text-bold">看得清，才能看得遠</h1>
                    <button class="button text-white p-12-6 fs-3 bg-danger border-0">立即購買</button>
                </div>
            </div>
            <div class="bg-light py-80 py-md-40">
                <div class="container container-md">
                    <h2 class="fs-6 fs-md-4 text-align-center text-bold pb-32">用專業的心，做專業的事</h2>
                    <ul class="d-flex jcsb d-wrap-mdl g-mdl-50">
                        <li class="w-25 w-48-mdl-max w-100-sm-max text-align-center "><img class="pb-24 "
                                src="../assets/images/home-section2-1.png" alt="home-section2-1">
                            <h3 class="fs-4 fs-md-4 pb-8">單一價格</h3>
                            <p class="fs-2 text-align-start ">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                        </li>
                        <li class="w-25 w-48-mdl-max w-100-sm-max text-align-center"><img class="pb-24 "
                                src="../assets/images/home-section2-2.png" alt="home-section2-2">
                            <h3 class="fs-4 fs-md-4 pb-8">20分鐘即可取件</h3>
                            <p class="fs-2 text-align-start ">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                        </li>
                        <li class="w-25 w-48-mdl-max w-100-sm-max text-align-center"><img class="pb-24 "
                                src="../assets/images/home-section2-3.png" alt="home-section2-3">
                            <h3 class="fs-4 fs-md-4 pb-8">安心售後服務</h3>
                            <p class="fs-2 text-align-start ">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                        </li>
                        <li class="w-25 w-48-mdl-max  w-100-sm-max text-align-center"><img class="pb-24 "
                                src="../assets/images/home-sectioin2-4.png" alt="home-sectioin2-4">
                            <h3 class="fs-4 fs-md-4 pb-8">關於鏡片</h3>
                            <p class="fs-2 text-align-start ">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="py-80 py-sm-40">
                <div class="container container-md">
                    <h2 class="fs-6 text-align-center text-bold pb-48 fs-md-4">
                        經典系列鏡框
                    </h2>

                    <ul class="d-flex jcsb text-align-center d-column-l g-24">

                        <li><img class="pic-100 pic-l-50 pic-sm-100" src="../assets/images/home-section3-1.png"
                                alt="home-section3-1">
                            <h2 class="text-danger text-900 fs-6">OPTICAL</h2>
                        </li>
                        <li><img class="pic-100 pic-l-50 pic-sm-100" src="../assets/images/home-section3-2.png"
                                alt="home-section3-2">
                            <h2 class="text-danger text-900 fs-6 ">SUNGLASSES</h2>
                        </li>
                        <li><img class="pic-100 pic-l-50 pic-sm-100" src="../assets/images/home-section3-3.png"
                                alt="home-section3-3">
                            <h2 class="text-danger text-900 fs-6 ">FUNCTIONAL</h2>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="advertisement advertisement-mdl advertisement-sm">
                <div class="container container-md py-80">
                    <h2 class="fs-6 fs-md-4  text-align-center  text-white pb-48">聯名設計鏡框</h2>
                    
                <ul class="container container-md g-mdl-24-row d-flex glasses-mdl-column">
                    <li  class="glasses-left glasses-left-mdl-max glasses-left-md"><a href="#"><img class="w-100-max" src="/assets/images/home-section4-1.png" alt="images4-1"> <h2 class="fs-6 text-danger text-900 bg-white py-8 text-align-center">Double A+</h2></a></li>
                    <li class="glasses-right glasses-right-mdl-max glasses-right-md"><a href="#"><img class="w-100-max" src="/assets/images/home-section4-2.png" alt="images4-2"> <h2 class="fs-6 text-danger text-900 bg-white py-8 text-align-center">Youth</h2></a></li>
                </ul>
            </div>
            </div>
            <div class="py-80 ">
                <h2 class="fs-6 text-900 text-primary pb-48 text-align-center">顧客推薦</h2>

                <div class="container container-md">
                    <div class="d-flex g-24 jcsb  d-wrap-mdl d-column-md  aic-md">
                        <div class="border-1 border-shadow w-48-mdl-max w-25-md-max  w-100-sm-max pic-sm-348 "><img
                                class="object-fit pic-100 " src="/assets/images/home-section5-1.png" alt="">
                            <div class="d-flex d-column p-16 h-205">
                                <p class="fs-2 text-500">Jessy</p>
                                <p class="fs-2 text-500">眼鏡品質優良，下次還會想來這邊購買！</p>
                                <p class="mt-auto fs-1 text-gray">2021/03/01</p>
                            </div>
                        </div>
                        <div class="border-1 border-shadow w-48-mdl-max w-25-md-max  w-100-sm-max pic-sm-348  "><img
                                class="object-fit pic-100 " src="/assets/images/home-section5-2.png" alt="">
                            <div class="d-flex d-column p-16 h-205">
                                <p class="fs-2 text-500">凱倫</p>
                                <p class="fs-2 text-500"> 做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                                <p class="mt-auto fs-1 text-gray">2021/04/18</p>
                            </div>
                        </div>
                        <div class="border-1 border-shadow w-48-mdl-max w-25-md-max  w-100-sm-max pic-sm-348 "><img
                                class="object-fit pic-100 " src="/assets/images/home-section5-3.png" alt="">
                            <div class="d-flex d-column p-16 h-205">
                                <p class="fs-2 text-500">悠悠</p>
                                <p class="fs-2 text-500">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                                <p class="mt-auto fs-1 text-gray">2020/12/25</p>
                            </div>
                        </div>
                        <div class="border-1 border-shadow w-48-mdl-max w-25-md-max  w-100-sm-max pic-sm-348"><img
                                class="object-fit pic-100 " src="/assets/images/home-section5-4.png" alt="">
                            <div class="d-flex d-column p-16 h-205">
                                <p class="fs-2 text-500">kyuan</p>
                                <p class="fs-2 text-500">服務很好，品質沒有任何問題，非常喜歡。</p>
                                <p class="mt-auto fs-1 text-gray">2020/10/31</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact bg-light">
                <div class="container  container-md  py-80 py-sm-40">
                    <h2 class="text-primary text-align-center fs-6 fs-md-4 text-bold pb-48 pb-mdl-24 ">聯絡我們</h2>
                    <p class="contact-from contact-from-mdl contact-from-md pb-24 fs-3 fs-md-2">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
                    <form class="contact-from contact-from-mdl contact-from-md">
                        <div>
                            <label for="name " class="mb-8 fs-2">姓名</label>
                            <input type="text" name="名字" placeholder="陳小明" value="" id="name"
                                class="form-control mb-16 ">
                        </div>
                      <div>
                        <label for="tel" class="mb-8 fs-2">聯絡電話</label><br>
                        <input type="tel" name="連絡電話" placeholder="0912-345-678" value="" id="tel"
                        class="form-control mb-16 "> 
                        </div>
                        <div>
                        <label for="email" class="mb-8 fs-2">電子郵件</label><br>
                        <input type="email" placeholder="example@email.com" value="" id="email"
                            class="form-control mb-16 ">
                        </div>
                        <div>
                        <label for="opinion" class="mb-8 fs-2">意見反應</label><br>
                        <textarea name="意見反應" cols="50" row="10" value=""
                            id="opinion" class="form-control mb-16 "></textarea>
                        </div>
                        <div class="mb-48 mb-sm-24">
                        <input type="checkbox" id="checkbox">
                        <label for="checkbox" class=" fs-2">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label><br>
                        </div>
                        <div class="d-flex jcc">
                        <button type="submit"
                            class="bg-danger text-white fs-2 py-16 text-bold form-control-btn">確認送出</button></div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </main>
        <!-- mb-16 w-100-sm w-576-mdl w-636 -->






        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>


